body {
  background-color: rgb(191, 181, 253);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
}

.container {
  max-width: 800px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}